{% extends 'base.html' %}
{% load static %}
{% block title %}homepage{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'core/css/study_recap.css' %}" type="text/css" media="all" />
{% endblock style %}
{% block content %}
<div class="container">
  <div class="main-header">
    
    <a href="{% url 'homepage' %}" class="btn-add">Vishal Gaud</a>
    <a href="{% url 'dashboard' %}" class="btn-add">+ New Entry</a>
  </div>

  <div class="records-grid">
    {% for entry in entries %}
    <div class="recap-card">
      <div class="card-top">
        <span class="badge">Topic {{ entry.id }}</span>
        <span class="date">{{ entry.created_at|date:"d M, Y" }}</span>
      </div>
      <h2 class="entry-title">{{ entry.heading }}</h2>
      <p class="entry-desc">{{ entry.description }}</p>
      {% if entry.code_snippet %}
      <div class="code-box">
        <div class="code-header">
          <span>CODE</span>
          <i class="fas fa-terminal"></i>
        </div>
          <pre><code>{{ entry.code_snippet }}</code></pre>
      </div>
      {% endif %}
	      <div class="card-actions">
		    <a href="{% url 'edit_recap' entry.pk %}" class="btn-edit">
		        <i class="fas fa-edit"></i> Edit
		    </a>
		    <a href="{% url 'delete_recap' entry.pk %}" class="btn-delete">
		        <i class="fas fa-trash"></i> Delete
		    </a>
		</div>
    	</div>
    
    {% empty %}
    <div class="empty-state">
      <p>Koi data nahi mila. Pehla recap add karein!</p>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
{% block script %}

{% endblock script %}

