{% extends 'base.html' %} 
{% load static %} 
{% block title %}Edit Clip{% endblock title %} 

{% block style %}
<link rel="stylesheet" href="{% static 'ClipManager/css/clip-edit.css' %}" />
{% endblock style %} 

{% block content %}
<div class="back-home">
<a href="{% url 'clip_home' %}">Back to home</a>
</div>
<div class="container">
    <div class="form-section">
        <h3>Edit Your Clip</h3>
        <form method="POST">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="{{ form.heading.id_for_label }}">Heading:</label>
                {{ form.heading }}
            </div>

            <div class="form-group">
                <label for="{{ form.code_clip.id_for_label }}">Code Clip:</label>
                {{ form.code_clip }}
            </div>

            <button type="submit" class="btn-save">Update Clip</button>
            <a href="{% url 'clip_home' %}" class="btn-cancel">Cancel</a>
        </form>
    </div>
</div>
{% endblock content %}
