* {
	box-sizing: border-box;
}
/* Page Setup */
body {
    height: 100vh;
    background: #0f172a;
    /* Dark Elegant Background */
    margin: 0;
    font-family: "Arial", sans-serif;
    
}

/* --- Header css start here --- */
.header-fixed-position {
	height: 60px;
	/* background: orange; */
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: var(--primary-color);
    color: red;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0.5;
    border: 2px solid green;
}

.menu-btn {
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
}

.content-box {
	height: calc(100vh - 60px);
	background-color: brown;
	overflow: scroll;
}
/* --- Header css end here --- */

/* --- Sidebar css start here --- */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
}

/* --- Sidebar css end here --- */

/* Image Container */
.stage {
    width: 80%;
    max-width: 600px;
    height: 120px;
    position: relative;
    border-bottom: 2px dashed rgba(255, 255, 255, 0.1);
    margin-bottom: 50px;
}

/* Moving Image Styling */
#moving-img {
    width: 100px;
    position: absolute;
    left: 0;
    transition: all 0.8s cubic-bezier(0.42, 0, 0.58, 1);
    filter: drop-shadow(0 0 10px #00d2ff);
}

/* Class to move image to right */
.move-right {
    left: calc(100% - 100px) !important;
    transform: rotate(360deg) scale(1.1);
}

/* Box to Circle Styling */
#shape {
    width: 150px;
    height: 150px;
    background: linear-gradient(45deg, #00d2ff, #3a7bd5);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);

    /* Smooth Transition for Shape */
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Circle State */
#shape.circle {
    border-radius: 50%;
    background: linear-gradient(45deg, #f953c6, #b91d73);
    box-shadow: 0 0 40px rgba(249, 83, 198, 0.4);
}
