
.back-home {
    max-width: 600px;
    margin: 20px auto;
}

.back-home a {
    color: #94a3b8;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
    padding: 5px;
    border: 1px solid cyan;
    border-radius: 10px;
}

.back-home a:hover {
    color: #3b82f6;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.form-section {
    background: #1e293b;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 600px;
}

.form-section h3 {
    margin-top: 0;
    margin-bottom: 25px;
    color: #fff;
    font-size: 1.5rem;
    border-bottom: 2px solid #334155;
    padding-bottom: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #cbd5e1;
}

/* Django Form Inputs Styling */
.form-group input, 
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #334155;
    border-radius: 6px;
    background: #0f172a;
    color: #fff;
    font-size: 1rem;
    box-sizing: border-box; /* Padding se width na badhe */
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group textarea {
    min-height: 200px;
    font-family: 'Consolas', monospace;
    resize: vertical;
    resize: none;
}

.form-group input:focus, 
.form-group textarea:focus {
    outline: none;
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
}

/* Buttons Styling */
.btn-save {
    background-color: #3b82f6;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s, transform 0.1s;
}

.btn-save:hover {
    background-color: #2563eb;
}

.btn-save:active {
    transform: scale(0.98);
}

.btn-cancel {
    text-decoration: none;
    color: #94a3b8;
    margin-left: 15px;
    font-size: 0.95rem;
    transition: color 0.3s;
}

.btn-cancel:hover {
    color: #ef4444;
}
