
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 5px;
    
}

/* Header */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #e2e8f0;
}

.btn-add {
    background: #4f46e5;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

/* Grid Layout */
.records-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
}

/* Card Design */
.recap-card {
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    transition: transform 0.2s;
    border-top: 4px solid #4f46e5;
}

.recap-card:hover {
    transform: translateY(-5px);
}

.card-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.badge {
    background: #e0e7ff;
    color: #4338ca;
    font-size: 0.7rem;
    padding: 2px 8px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.date {
    font-size: 0.8rem;
    color: #718096;
}

.entry-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
    color: #2d3748;
}

.entry-desc {
    font-size: 0.95rem;
    color: #4a5568;
    margin-bottom: 15px;
    /* 3 lines ke baad text hide ho jayega (Optional) */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Code Display */
.code-box {
    background: #1a202c;
    border-radius: 8px;
    overflow: hidden;
}

.code-header {
    background: #2d3748;
    color: #cbd5e0;
    padding: 5px 12px;
    font-size: 0.7rem;
    display: flex;
    justify-content: space-between;
}

.code-box pre {
    padding: 15px;
    color: #fbd38d;
    font-family: 'Consolas', monospace;
    font-size: 0.85rem;
    overflow-x: auto;
}

/* Mobile Responsive */
@media (max-width: 600px) {
    .records-grid {
        grid-template-columns: 1fr;
    }
}

/* Card Actions Container */
.card-actions {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px border #eee;
}

/* Edit Button */
.btn-edit {
    text-decoration: none;
    color: #4f46e5;
    border: 1px solid #4f46e5;
    padding: 6px 15px;
    border-radius: 6px;
    font-size: 0.85rem;
    font-weight: 600;
    transition: 0.3s;
}

.btn-edit:hover {
    background: #4f46e5;
    color: white;
}

/* Delete Button */
.btn-delete {
    text-decoration: none;
    color: #dc2626;
    border: 1px solid #dc2626;
    padding: 6px 15px;
    border-radius: 6px;
    font-size: 0.85rem;
    font-weight: 600;
    transition: 0.3s;
}

.btn-delete:hover {
    background: #dc2626;
    color: white;
}
